## 2. Working with MySQL and Python

The MySQL™ software delivers a very fast, multithreaded, multi-user, and robust SQL (Structured Query Language) database server. MySQL Server is intended for mission-critical, heavy-load production systems as well as for embedding into mass-deployed software. Oracle is a registered trademark of Oracle Corporation and/or its affiliates. 

**This notebook contains three major subsection;**

* **MySQL Features**
* **Connecting MySql With Python**
* **Additional Commands**

### 2.1 MySQL Features
**Internals and Portability**

- Written in C and C++.
- Tested with a broad range of different compilers.
- Works on many different platforms. See https://www.mysql.com/support/supportedplatforms/database.html.
- For portability, configured using CMake.
- Tested with Purify (a commercial memory leakage detector) as well as with Valgrind, a GPL tool (http://developer.kde.org/~sewardj/).
- Uses multi-layered server design with independent modules.
- Designed to be fully multithreaded using kernel threads, to easily use multiple CPUs if they are available.

**Data Types**

- Many data types: signed/unsigned integers 1, 2, 3, 4, and 8 bytes long, FLOAT, DOUBLE, CHAR, VARCHAR, BINARY, VARBINARY, TEXT, BLOB, DATE, TIME, DATETIME, TIMESTAMP, YEAR, SET, ENUM, and OpenGIS spatial types. See Chapter 11, Data Types.
- Fixed-length and variable-length string types.

**Statements and Functions**

- Full operator and function support in the SELECT list and WHERE clause of queries. For example:

```mysql
SELECT CONCAT(first_name, ' ', last_name)
FROM citizen
WHERE income/dependents > 10000 AND age > 30;
```
- Full support for SQL GROUP BY and ORDER BY clauses. Support for group functions (COUNT(), AVG(), STD(), SUM(), MAX(), MIN(), and GROUP_CONCAT()).

- Support for LEFT OUTER JOIN and RIGHT OUTER JOIN with both standard SQL and ODBC syntax.

- Support for aliases on tables and columns as required by standard SQL.

- Support for DELETE, INSERT, REPLACE, and UPDATE to return the number of rows that were changed (affected), or to return the number of rows matched instead by setting a flag when connecting to the server.

- Support for MySQL-specific SHOW statements that retrieve information about databases, storage engines, tables, and indexes. Support for the INFORMATION_SCHEMA database, implemented according to standard SQL.

- An EXPLAIN statement to show how the optimizer resolves a query.

**Security**

**Scalability and Limits**

**Connectivity**

**Localization**

**Clients and Tools**

**More Detailed [Feature Information](https://dev.mysql.com/doc/refman/8.0/en/features.html)**

### Installing MySQL Workbench

* [Download MYSQL application](https://dev.mysql.com/downloads/installer/)
* Click on the link highlighted.

>**Note:** ***Remember the user name mentioned during iastallation, we will need it to connect python to Mysql.***

### 2.3 Connecting MySql With Python

#### Important commands

**1) Creating connection**

Let’s use python to connect with this database.
- First we need to install “mysql-connector-python” package to establish a connection with Mysql.
```cmd
pip install mysql-connector-python
```
- Once the package is installed, we can go ahead with establishing the connection.

- Enter the details , mysql server is running locally so host is “localhost”, entered the username and password as was setup during installation.
>**Note:** `use_pure` argument forces mysqlConnector to user pure python connection instead of C extensions which leads to SSL error.
- To check if the connection is established, we can use print (mydb.is_connected). It will return `TRUE` if the connection is established else `FALSE`.

**2) Creating Databse**

**3) Creating Tables**
- We need to pass an **additional parameter, database name, while connecting to server**. We have passed “Student” database in which we are going to create the table.

**4) Inserting Values in Table**

In [ ]:
#!pip install mysql
#!pip install mysql-connector
#!pip install mysql-connector-python-rf

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="mysql",use_pure=True)
    # establishing a connection with the root server. Make sure the encrypted password string is the one that is used for the 
    # passwd field in the connect()

    # check if the connection is established
    print(mydb.is_connected())
    mydb.close()
    # Close the database connection
except Exception as e:
    print(str(e))

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established

    query = "SHOW DATABASES"

    cursor = mydb.cursor() #create a cursor to execute queries
    # A cursor allows you to iterate a set of rows returned by a query and process each row accordingly.
    cursor.execute(query)
    # Executed sql Query
    print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    # A MySQL Create statement is stored as a string
    query = "CREATE DATABASE Student"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "INSERT INTO StudentDetails VALUES ('1132','Sachin','Kumar','1997-11-11','Eleventh','A')"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Values inserted into the table!!")
    mydb.commit()
    # Commit the transaction
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

### 2.3 Additional Commands
Let’s see some other commands:

**1) Selecting from table**

**2) Group by and Order by**

**3) Update statement**

**4) Delete statement**

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'GlassData',user="root", passwd="mysql",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    query = "Select * from GlassData;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydb.close() #close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

In [ ]:
# Now try to store all the select values into a Dataframe.
# We can use 'pandas.read_sql' to store the values in a dataframe.
import mysql.connector as connection
import pandas as pandas

try:

    mydb = connection.connect(host="localhost", database='GlassData', user="root", passwd="mysql", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "Select * from GlassData;"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'GlassData',user="root", passwd="mysql",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    query = "select Studentid,FirstName,LastName from GlassData group by Class order by RegistrationDate desc"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydb.close() #close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

In [ ]:
import mysql.connector as connection

try:

    mydb = connection.connect(host="localhost", database='Student', user="root", passwd="mysql", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "UPDATE studentdetails SET FirstName = 'Kumar', LastName = 'Gaurav' WHERE Studentid = 1122"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    mydb.commit()

    #let's check if the value is updated in the table.
    query = "Select * from studentdetails where Studentid=1122;"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'GlassData',user="root", passwd="mysql",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    query = "Select * from GlassData;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydb.close() #close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

In [ ]:
import mysql.connector as connection

try:

    mydb = connection.connect(host="localhost", database='Student', user="root", passwd="mysql", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "DELETE FROM studentdetails WHERE Studentid = 1122"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    mydb.commit()

    #let's check if the value is updated in the table.
    query = "Select * from studentdetails where Studentid=1122;"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

In [ ]:
# loading all the values in the file “glass. Data” into our table.
import mysql.connector as connection
import pandas as pandas
import csv

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    #create a new database
    query = "Create database GlassData;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close() #close the connection

    #Establish a new connection to the database created above
    mydb = connection.connect(host="localhost", database = 'GlassData',user="root", passwd="mysql", use_pure=True)

    #create a new table to store glass data
    query = "CREATE TABLE IF NOT EXISTS GlassData (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")

    #read from the file
    with open('glass.data', "r") as f:
        next(f)
        glass_data = csv.reader(f, delimiter="\n")
        for line in enumerate(glass_data):
            for list_ in (line[1]):
                cursor.execute('INSERT INTO GlassData values ({values})'.format(values=(list_)))
    print("Values inserted!!")
    mydb.commit()
    cursor.close()
    mydb.close()

except Exception as e:
    #mydb.close()
    print(str(e))

### Advanced Operation/Query

In [ ]:
#### Import data from Excel into MySQL using Python
#### Download and install the xlrd library and MySQLdb module
import xlrd
import MySQLdb

#### The database name is Sample and the table that needs to be inserted in titanic
book = xlrd.open_workbook(".../titanic.xls")
sheet = book.sheet_by_name("titanic")

database = MySQLdb.connect (host="localhost", user = "root", passwd = " ", db = "Sample")

cursor = database.cursor()

query = """INSERT INTO titanic (PassengerId, Survived, Pclass, Passenger_name, Sex, Age, SibSp,
Parch, Ticket, Fare, Cabin,Embarked) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
In [13]:

#### Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
for r in range(1, sheet.nrows):
    PassengerId = sheet.cell(r,0).value
    Survived    = sheet.cell(r,1).value
    Pclass      = sheet.cell(r,2).value
    Passenger_name  = sheet.cell(r,3).value
    Sex         = sheet.cell(r,4).value
    Age         = sheet.cell(r,5).value
    SibSp       = sheet.cell(r,6).value
    Parch       = sheet.cell(r,7).value
    Ticket      = sheet.cell(r,8).value
    Fare        = sheet.cell(r,9).value
    Cabin       = sheet.cell(r,10).value
    Embarked    = sheet.cell(r,11).value
    
    # Assign values from each row
    values = (PassengerId, Survived, Pclass, Passenger_name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin,Embarked)
    
    cursor.execute(query, values)
    
cursor.close()

database.commit()

database.close()

# Print results
print("Importing rows to MySQL table is Completed")

In [ ]:
# Utility Functions

import mysql.connector as sql
import pandas as pd
from IPython.display import display, HTML

current_connection = None
current_cursor = None

def setup_current_connection(dbname=None):
    global current_connection
    if current_connection:
        current_connection.close()
        current_connection = None
    if dbname:
        current_connection = sql.connect(
            host="localhost",
            user="root",
            passwd="pass",               #I named as root
            database = dbname
        )
    else:
        current_connection = sql.connect(
            host="localhost",
            user="root",
            passwd="pass",
        )

def setup_cursor(dbname):
    global current_cursor
    if (not current_connection) or current_connection.database != dbname:
        setup_current_connection(dbname)
        current_cursor = current_connection.cursor()
    
def setup_db(dbname):
    setup_cursor(dbname)

def execute_and_print_dml(dml,dbname=None):
    if (not current_connection) or (not current_cursor) or current_connection.database != dbname:
        setup_db(dbname)
    current_cursor.execute(dml)
    for x in current_cursor:
        print(x)
    current_connection.commit()

def execute_and_print_dml_as_df (dml, dbname=None):
    if (not current_connection) or current_connection.database != dbname:
        setup_current_connection(dbname)
    df = pd.read_sql(dml, con = current_connection)
    display(df)
    current_connection.commit()

In [ ]:
#Testing Utility Functions
execute_and_print_dml("CREATE DATABASE IF NOT EXISTS ase1")

In [ ]:
execute_and_print_dml("SHOW DATABASES")

In [ ]:
execute_and_print_dml_as_df("SHOW DATABASES")

In [ ]:
execute_and_print_dml_as_df("SELECT * FROM country","world")

In [ ]:
execute_and_print_dml_as_df("SELECT Count(Name) FROM country WHERE Continent='North America'","world")

### Defining Functions for different Operations

In [ ]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

# Function for connecting to MySQL Server
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

# Function to create a new database on our server
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

# Function for connecting directly to that DB
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

# Function to execute queries
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

# Function to fetch/read data
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
# Using function Connect to server and create Database
pw = "******" # IMPORTANT! Put your MySQL Terminal password here.
db = "school" # This is the name of the database we will create in the next step - call it whatever you like.
connection = create_server_connection("localhost", "root", pw)

create_database_query = "CREATE DATABASE school"
create_database(connection, create_database_query)

In [ ]:
# create first table inside our DB, using function
# Assign our SQL command to a python variable using triple quotes to create a multi-line string
create_teacher_table = """
CREATE TABLE teacher (
  teacher_id INT PRIMARY KEY,
  first_name VARCHAR(40) NOT NULL,
  last_name VARCHAR(40) NOT NULL,
  language_1 VARCHAR(3) NOT NULL,
  language_2 VARCHAR(3),
  dob DATE,
  tax_id INT UNIQUE,
  phone_no VARCHAR(20)
  );
 """

connection = create_db_connection("localhost", "root", pw, db) # Connect to the Database
execute_query(connection, create_teacher_table) # Execute our defined query

In [ ]:
# populating tables with data
pop_teacher = """
INSERT INTO teacher VALUES
(1,  'James', 'Smith', 'ENG', NULL, '1985-04-20', 12345, '+491774553676'),
(2, 'Stefanie',  'Martin',  'FRA', NULL,  '1970-02-17', 23456, '+491234567890'), 
(3, 'Steve', 'Wang',  'MAN', 'ENG', '1990-11-12', 34567, '+447840921333'),
(4, 'Friederike',  'Müller-Rossi', 'DEU', 'ITA', '1987-07-07',  45678, '+492345678901'),
(5, 'Isobel', 'Ivanova', 'RUS', 'ENG', '1963-05-30',  56789, '+491772635467'),
(6, 'Niamh', 'Murphy', 'ENG', 'IRI', '1995-09-08',  67890, '+491231231232');
"""

connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, pop_teacher)

In [ ]:
# Fetching data using functions
q1 = """
SELECT *
FROM teacher;
"""

connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q1)

for result in results:
  print(result)

In [ ]:
# Formatting Output into a List of Lists
# Returns a list of lists
from_db = []

for result in results:
  result = list(result)
  from_db.append(result)
    
print(from_db)

In [ ]:
# Formatting Output into Pandas DataFrame
# Returns a list of lists and then creates a pandas DataFrame
from_db = []

for result in results:
  result = list(result)
  from_db.append(result)

columns = ["teacher_id", "first_name", "last_name", "dob"]
df = pd.DataFrame(from_db, columns=columns)
display(df)

In [ ]:
# Updating Record
update = """
UPDATE teacher
SET dob = '1990-10-12' 
WHERE teacher_id = 3;
"""

connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, update)

In [ ]:
#Deleting Record
delete_record = """
DELETE FROM teacher WHERE teacher_id = 5;
"""

connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, delete_record)